:root {
  --brand-hue: 330;
  --brand-saturation: 70%;
  --brand-lightness: 75%;

  --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 7));
  --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 12));

  --text1: hsl(var(--brand-hue) 20% 90%);
  --text2: hsl(var(--brand-hue) 10% 80%);

  --surface1: hsl(var(--brand-hue) 25% 3%);
  --surface2: hsl(var(--brand-hue) 5% 10%);

  @media (prefers-color-scheme: light) {
    --brand-lightness: 71%;
    --brand-saturation: 100%;

    --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2.25));
    --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2));

    --surface1: hsl(var(--brand-hue) 5% 96%);
    --surface2: hsl(var(--brand-hue) 25% 99%);

    --text1: hsl(var(--brand-hue) 50% 10%);
    --text2: hsl(var(--brand-hue) 10% 30%);
  }
}

:focus {
  outline-color: var(--brand1);
}