body {
  margin: 0;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  min-height: 100vh;
}

ul,ol,dl {
  display: grid;
  gap: var(--space3);

  & > :is(li,dt,dd) {
    max-width: var(--reading-width);
  }
}

dl {
  padding-inline-start: 0;
  gap: var(--space1);

  & > dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-block-start: var(--space3);
    }
  }
}