body {
  margin: 0;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  min-height: 100vh;
}

section {
  background: var(--surface2);
  padding: var(--space3) var(--space4);
  border-radius: var(--space1);
  overflow: hidden;

  &[outlined] {
    background: none;
    border: 1px solid var(--surface2);
  }
}

footer {
  min-height: 25vh;
}

ul,ol,dl {
  display: grid;
  gap: var(--space3);
}

dl {
  padding-inline-start: 0;
  gap: var(--space1);

  & > dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-block-start: var(--space3);
    }
  }
}