[grid="stack"], 
[grid="intrinsic-stack"] {
  --gap: var(--space3);

  display: grid;
  gap: var(--gap);

  &[grid-align="center"] {
    place-items: center;
  }
}

[grid="intrinsic-stack"] {
  justify-content: start;
}

[grid="wrap"] {
  --gap: var(--space3);

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--reading-width), 1fr));
}

[flex="stack"] {
  display: flex;
  flex-direction: column;

  &[flex-align="center"] {
    align-items: center;
    justify-content: center;
  }
}