:root {
  --fs1: .75rem;
  --fs2: .9rem;
  --fs3: 1rem;
  --fs4: 1.5rem;
  --fs5: 1.75rem;
  --fs6: 2.25rem;
  --fs7: 3rem;
  --fs8: 5rem;

  --reading-width: 50ch;

  --space1: .25rem;
  --space2: .5rem;
  --space3: 1rem;
  --space4: 1.25rem;
  --space5: 2rem;
  --space6: 4rem;
  --space7: 6rem;
  --space8: 10rem;
}