/* 
(bundle from remote urls) 
@import '//css-from-url';

(bundle from npm)
@import 'css-from-npm';

(bundle from local)
@import 'localfile.css' 

(PresetENV)
CSS powers @ https://preset-env.cssdb.org/features

(Easings)
only imports what you use 
https://easings.net
*/

:root {
  --surface: lch(10 0 0);
  --text: lch(80 0 0);
  --brand: lch(64 40 347);

  @media (prefers-color-scheme: light) {
    --surface: lch(98 0 0);
    --text: lch(30 0 0);
    --brand: lch(65 64 350)
  }
}

body {
  margin: 0;
  background: var(--surface);
  color: var(--text);
  font-family: system-ui;
  min-block-size: 100vh;
  display: flex;
  gap: 2vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.demo {
  color: white;
  padding: 1rem;
  font-size: 4vmin;

  & > h2 {
    font-size: 1.5em;
  }

  & > h4 {
    font-size: 1em;
  }
}

/* @property --painty-step-width {
  syntax: '<number>';
  initial-value: 20;
  inherits: false;
}

@property --painty-step-width {
  syntax: '<number>';
  initial-value: 20;
  inherits: false;
} */

.painty {
  --painty-hue-start: 200;
  /* --painty-step-size: 5;
  --painty-step-width: 30; 
  background-image: paint(painty);*/
  color: white;

  border-radius: 1rem;
  padding: 1rem 2rem;

  & > * {
    margin: 0;
  }

  transition: --painty-hue-start 2s ease, --painty-step-width 2s ease;
  &:hover {
    --painty-step-width: 150;
  }
}

.static-border {
  border: 30px solid cyan;
  border-image: paint(static-gradient, 180deg, hotpink, 2) 30 30 round;
}

.static-text {
  background-image: 
    paint(static-gradient, 0deg, white, 3),
    linear-gradient(to bottom, hsl(200 100% 50% / 50%), hsl(200 100% 100%))
  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.powdered-gradient {
  background-image: 
    paint(powdered-gradient),
    linear-gradient(to left, hotpink, rebeccapurple)
  ;
  color: white;
  text-shadow: 0 1px 2px hotpink;

  border-radius: 1rem;
  padding: 1rem 2rem;
}
