/* 
(bundle from remote urls) 
@import '//css-from-url';

(bundle from npm)
@import 'css-from-npm';

(bundle from local)
@import 'localfile.css' 

(PresetENV)
CSS powers @ https://preset-env.cssdb.org/features

(Easings)
only imports what you use 
https://easings.net
*/

:root {
  --surface: lch(10 0 0);
  --text: lch(80 0 0);
  --brand: lch(64 40 347);

  @media (prefers-color-scheme: light) {
    --surface: lch(98 0 0);
    --text: lch(30 0 0);
    --brand: lch(65 64 350)
  }
}

body {
  margin: 0;
  background: var(--surface);
  color: var(--text);
  font-family: system-ui;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.painty {
  /* --painty-hue-start: 200;
  --painty-step-size: 5;
  --painty-step-width: 30; */
  background-image: paint(painty);
  color: white;

  border-radius: 1rem;
  padding: 1rem 2rem;

  & > * {
    margin: 0;
  }

  /* transition: --painty-hue-start 2s ease, --painty-step-width 2s ease;
  &:hover {
    --painty-step-width: 150;
  } */
}
