body {
  background: var(--surface1);
  color: var(--text1);
  font-family: system-ui;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--text1);
  margin: 0;
  line-height: 1.1;
}

h1,h2 {
  font-weight: lighter;
  letter-spacing: .2em;
}

h1 { font-size: var(--fs1); }
h2 { font-size: var(--fs2); }
h3 { font-size: var(--fs3); }
h4 { font-size: var(--fs4); }
h5 { font-size: var(--fs5); }
h6 { font-size: var(--fs6); }

small {
  color: var(--text2);
}