/* use any of these! https://easings.net */

:root {
  --brand-hue: 330;
  --brand-saturation: 70%;
  --brand-lightness: 75%;

  --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 7));
  --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 12));

  --surface1: hsl(var(--brand-hue) 40% 3%);
  --surface2: hsl(var(--brand-hue) 20% 10%);

  --shadow1: 0 4rem 6rem calc(var(--fs1) * -1) hsla(var(--brand-hue) 70% 15% / 60%);

  --text1: hsl(var(--brand-hue) 40% 90%);
  --text2: hsl(var(--brand-hue) 10% 80%);
  --shadow1-grow: 0 7rem 3rem calc(5rem * -1) hsla(var(--brand-hue) var(--brand-saturation) var(--brand-lightness) / 40%);
  
  --fs1: 3rem;
  --fs2: 2.25rem;
  --fs3: 1.75rem;
  --fs4: 1.25rem;
  --fs5: 1rem;
  --fs6: .8rem;

  @media (prefers-color-scheme: light) {
    --brand-lightness: 71%;
    --brand-saturation: 100%;

    --brand1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --brand2: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2.25));
    --brand3: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 2));

    --surface1: hsl(var(--brand-hue) 25% 96%);
    --surface2: hsl(var(--brand-hue) 100% 99%);

    --text1: hsl(var(--brand-hue) 50% 10%);
    --text2: hsl(var(--brand-hue) 10% 30%);

    --shadow1: 0 4rem 6rem calc(var(--fs1) * -1) hsla(var(--brand-hue) var(--brand-saturation) var(--brand-lightness) / 40%);
  }
}