/* @import 'css-from-npm'; */

:root {
  --darkest-grey:   hsl(0,0%,2%);
  --darker-grey:    hsl(0,0%,5%);
  --dark-grey:      hsl(0,0%,20%);
  --grey:           hsl(0,0%,50%);
  --light-grey:     hsl(0,0%,60%);
  --lighter-grey:   hsl(0,0%,80%);
  --lightest-grey:  hsl(0,0%,92%);

  /* https://easings.net */
  --easing: ease-out-expo;
}

body {
  margin: 0;
  background: white;
  color: var(--darker-grey);
  font-family: system-ui;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-weight: lighter;
  letter-spacing: 0.2em;
  color: var(--darkest-grey);
}


/* https://andy-bell.design/wrote/custom-property-controlled-fluid-type-sizing/ */
h1 {
  --fluid-type-min-size: 2;
  --fluid-type-max-size: 4;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 88;

  font-size: calc(
    (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) /
      (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );
}